<div class="container-fluid">
  <!-- Breadcrumb-->
 <div class="row pt-2 pb-2">
    <!-- <div class="col-sm-9">
        <h3 class="page-title">Projets</h3>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javaScript:void();">Bulona</a></li>
        <li class="breadcrumb-item"><a href="javaScript:void();">Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">Simple Tables</li>
     </ol>
   </div>

   <div class="col-sm-3">
    <button type="button" class="btn btn-light waves-effect waves-light float-sm-right"><i class="zmdi zmdi-pin-assistant"></i>&emsp; Nouveau Projet</button>
   </div> -->

   <div class="col-lg-12">
    <div class="card">

      <div class="card-body">

        <div style="margin: 1em" class="row">
          <!-- <h5 class="card-title">Liste des Projets</h5> -->
          <div class="col-sm-3">
            <h3 style="margin-left: 1em; margin-top: 5px;" class="page-title">Financements</h3>
          </div>

          <div class="col-sm-6">
            <form style="margin-bottom: 1em;" class="search-bar">
              <input type="text" class="form-control" placeholder="Enter keywords">
            </form>

          </div>

          <div class="col-sm-3">
            <div class="float-sm-right">
              <button (click)="initForm()" type="button" class="btn btn-light waves-effect waves-light" data-toggle="modal" data-target="#formemodal"><i class="zmdi zmdi-directions-walk"></i>&emsp; Nouveau Financement</button>
              <button style="visibility: hidden;" type="button" id="open_update_modal" class="btn btn-light waves-effect waves-light" data-toggle="modal" data-target="#updatemodal"></button>
            </div>

          </div>
        </div>

        <!-- <form style="margin-bottom: 1em;" class="search-bar">
          <input type="text" class="form-control" placeholder="Enter keywords">
        </form> -->

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">Code</th> -->
                <th scope="col">Projet</th>
                <th scope="col">Partenaire - Montant - Date de Financement</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let financement of allFinancement">
                <!-- <td>{{financement.code}}</td> -->
                <td>{{financement.projet.nom}}</td>
                <td>
                  <p *ngFor="let partner of financement.partenaires">
                    {{partner.partenaire.nom}} -- {{partner.montant}} FCFA -- {{partner.date_financement | date}}
                  </p>
                </td>
                <td class="row" style="display: block;">
                  <div class="preview" style="padding: 0;">
                    <a (click)="viewFinancement(financement.key)" href="javascript:void();" title="Voir">
                      <i class="icon-eye icons"></i>
                    </a>
                    <a (click)="deleteFinancement(financement.key)" href="javascript:void();" title="Supprimer">
                      <i class="icon-trash icons"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3" class="text-center">
                  <div *ngIf="_loader" class="spinner-border spinner-border-sm text-secondary mr-2" role="status" style="width: 2rem; height: 2rem;">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <p *ngIf="allFinancement.length == 0 && !_loader">Aucun financement !</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
   </div>

   <div>
     <!-- <mat-paginator class="float-sm-right;" [pageSizeOptions]="[5, 10, 20]" [lenght]="9" showFirstLastButtons></mat-paginator> -->
   </div>


 </div>

<!--start overlay-->
      <div class="overlay toggle-menu"></div>
    <!--end overlay-->
</div>


<!-- Modal -->
<div style="margin-top: 5em;" class="modal fade" id="formemodal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Ajouter un nouveau Financement</h3>
            <button id="close_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                 <div class="form-group">
                   <label for="input-1">Projet</label>
                   <form [formGroup]="financementForm">
                     <select formControlName="projet" class="form-control" id="input-1" name="" id="">
                      <option *ngFor="let projet of allProjects" value="{{projet.key}}">{{projet.nom}}</option>
                    </select>
                   </form>
                 </div>

                 <table class="table" *ngIf="addFinancement.partenaires.length > 0">
                  <thead>
                    <tr>
                      <th scope="col">Nom Partenaire</th>
                      <th scope="col">Montant</th>
                      <th scope="col">Date de Financement</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let financement of addFinancement.partenaires; let index = index">

                      <td *ngIf="financement.edit">
                        <form [formGroup]="financementEditForm">
                          <select formControlName="editid_partenaire" class="form-control" id="input-1" name="" id="">
                            <option *ngFor="let patenaire of allPartenaire" value="{{patenaire.key}}">{{patenaire.nom}}</option>
                          </select>
                        </form>
                      </td>
                      <td *ngIf="!financement.edit">{{financement.partenaire.nom}}</td>

                      <td *ngIf="financement.edit">
                        <form [formGroup]="financementEditForm">
                            <input formControlName="editmontant" type="number" class="form-control">
                        </form>
                      </td>
                      <td *ngIf="!financement.edit">{{financement.montant}} FCFA</td>

                      <td *ngIf="financement.edit">
                        <form [formGroup]="financementEditForm">
                            <input formControlName="editdate_financement" type="date" class="form-control">
                        </form>
                      </td>
                      <td *ngIf="!financement.edit">{{financement.date_financement}}</td>

                      <td class="row" style="display: block;">
                        <div class="preview" style="padding: 0;">
                          <a *ngIf="!financement.edit" (click)="editPartner(index)" href="javascript:void();" title="Editer">
                            <i class="icon-note icons"></i>
                          </a>
                          <a *ngIf="!financement.edit" (click)="removePatner(index)" href="javascript:void();" title="Supprimer">
                            <i class="icon-trash icons"></i>
                          </a>
                          <a *ngIf="financement.edit" (click)="validEditedPartner(index)" href="javascript:void();" title="Valider">
                            <i class="icon-check icons"></i>
                          </a>
                          <a *ngIf="financement.edit" (click)="closeEditPartner(index)" href="javascript:void();" title="Fermer">
                            <i class="icon-close icons"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <form [formGroup]="financementForm">
                  <div class="row">
                    <div class="col-xl-4 form-group">
                      <label for="input-1">Partenaire</label>
                      <select formControlName="id_partenaire" class="form-control" id="input-1" name="" id="">
                        <option *ngFor="let patenaire of allPartenaire" value="{{patenaire.key}}">{{patenaire.nom}}</option>
                      </select>
                    </div>

                    <div class="col-xl-3 form-group">
                      <label for="input-1">Montant</label>
                      <input formControlName="montant" type="number" class="form-control">
                    </div>

                    <div class="col-xl-3 form-group">
                      <label for="input-1">Date du Financement</label>
                      <input formControlName="date_financement" type="date" class="form-control">
                    </div>

                    <div class="form-group col-xl-2">
                      <button style="margin-top: 2.8em;" (click)="addPartner()" type="submit" class="btn btn-success">save</button>
                    </div>

                   </div>
                </form>

                 <div class="form-group">
                  <button style="float: right;" (click)="submit()" type="submit" class="btn btn-primary px-5"><i class="icon-drawer icons"></i>Sauvegarder</button>
                </div>
          </div>
      </div>
  </div>
</div>



<!-- Modal -->
<div style="margin-top: 5em;" class="modal fade" id="updatemodal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Modifier un Financement</h3>
            <button id="close_update_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="input-1">Projet</label>
              <form [formGroup]="financementForm">
                <select disabled formControlName="projet" class="form-control" id="input-1" name="" id="">
                  <option *ngFor="let projet of allProjects" value="{{projet.key}}">{{projet.nom}}</option>
                </select>
              </form>
            </div>

            <table class="table" *ngIf="addFinancement.partenaires.length > 0">
             <thead>
               <tr>
                 <th scope="col">Nom Partenaire</th>
                 <th scope="col">Montant</th>
                 <th scope="col">Date de Financement</th>
                 <th scope="col">Action</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let financement of addFinancement.partenaires; let index = index">

                 <td *ngIf="financement.edit">
                   <form [formGroup]="financementEditForm">
                     <select formControlName="editid_partenaire" class="form-control" id="input-1" name="" id="">
                       <option *ngFor="let patenaire of allPartenaire" value="{{patenaire.key}}">{{patenaire.nom}}</option>
                     </select>
                   </form>
                 </td>
                 <td *ngIf="!financement.edit">{{financement.partenaire.nom}}</td>

                 <td *ngIf="financement.edit">
                   <form [formGroup]="financementEditForm">
                       <input formControlName="editmontant" type="number" class="form-control">
                   </form>
                 </td>
                 <td *ngIf="!financement.edit">{{financement.montant}} FCFA</td>

                 <td *ngIf="financement.edit">
                   <form [formGroup]="financementEditForm">
                       <input formControlName="editdate_financement" type="date" class="form-control">
                   </form>
                 </td>
                 <td *ngIf="!financement.edit">{{financement.date_financement}}</td>

                 <td class="row" style="display: block;">
                   <div class="preview" style="padding: 0;">
                     <a *ngIf="!financement.edit" (click)="editPartner(index)" href="javascript:void();" title="Editer">
                       <i class="icon-note icons"></i>
                     </a>
                     <a *ngIf="!financement.edit" (click)="removePatner(index)" href="javascript:void();" title="Supprimer">
                       <i class="icon-trash icons"></i>
                     </a>
                     <a *ngIf="financement.edit" (click)="validEditedPartner(index)" href="javascript:void();" title="Valider">
                       <i class="icon-check icons"></i>
                     </a>
                     <a *ngIf="financement.edit" (click)="closeEditPartner(index)" href="javascript:void();" title="Fermer">
                       <i class="icon-close icons"></i>
                     </a>
                   </div>
                 </td>
               </tr>
             </tbody>
           </table>

           <form [formGroup]="financementForm">
             <div class="row">
               <div class="col-xl-4 form-group">
                 <label for="input-1">Partenaire</label>
                 <select formControlName="id_partenaire" class="form-control" id="input-1" name="" id="">
                   <option *ngFor="let patenaire of allPartenaire" value="{{patenaire.key}}">{{patenaire.nom}}</option>
                 </select>
               </div>

               <div class="col-xl-3 form-group">
                 <label for="input-1">Montant</label>
                 <input formControlName="montant" type="number" class="form-control">
               </div>

               <div class="col-xl-3 form-group">
                 <label for="input-1">Date du Financement</label>
                 <input formControlName="date_financement" type="date" class="form-control">
               </div>

               <div class="form-group col-xl-2">
                 <button style="margin-top: 2.8em;" (click)="addPartner()" type="submit" class="btn btn-success">save</button>
               </div>

              </div>
           </form>

            <div class="form-group">
              <button style="float: right;" (click)="updateFinancement()" type="submit" class="btn btn-primary px-5"><i class="icon-note icons"></i>Modifier</button>
            </div>
          </div>
      </div>
  </div>
</div>
