
<!-- Start wrapper-->
<div id="wrapper" style="margin-top: 15em;">

<div class="card card-authentication1 mx-auto my-5">
 <div class="card-body">
  <div class="card-content p-2">

    <div class="text-center">
      <img src="assets/images/logo-icon.png" alt="logo icon">
    </div>

    <div class="card-title text-uppercase text-center py-3">Sign In</div>

      <form>
        <div class="form-group">
          <p *ngIf="logError" class="text-center" style="color: red;">Email ou Mot de Passe Invalid</p>
        <div class="position-relative has-icon-right">
        <input type="text" [(ngModel)]="user.email" name="email" id="exampleInputUsername" class="form-control input-shadow" placeholder="Enter votre Email">
        <div class="form-control-position">
          <i class="icon-user"></i>
        </div>
        </div>
        </div>
        <div class="form-group">
      <label for="exampleInputPassword" class="sr-only">Mot de Passe</label>
        <div class="position-relative has-icon-right">
        <input type="password" [(ngModel)]="user.password" name="password" id="exampleInputPassword" class="form-control input-shadow" placeholder="Entrer votre mot de Passe">
        <div class="form-control-position">
          <i class="icon-lock"></i>
        </div>
        </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <div class="icheck-material-primary">
                  <input type="checkbox" id="user-checkbox" checked="" />
                  <label for="user-checkbox">Remember me</label>
          </div>
          </div>
          <div class="form-group col-6 text-right">
          <a routerLink="/reset-password">Reset Password</a>
          </div>
        </div>
        <button type="button" (click)="submit()" class="btn btn-primary btn-block">Sign In
          <div *ngIf="_loader" class="spinner-border spinner-border-sm text-white mr-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </form>

    </div>

   </div>
  </div>


</div><!--wrapper-->
