<div class="container-fluid">
  <!-- Breadcrumb-->
 <div class="row pt-2 pb-2">
    <div class="col-sm-9">
    <h4 class="page-title">Motos</h4>
 </div>
 </div>
<!-- End Breadcrumb-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">Données des Projets de Motos</div>
        <div class="card-body">
          <div class="table-responsive">
          <table id="default-datatable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Projet</th>
                    <th>Type</th>
                    <th>Partenaire</th>
                    <th>Tacheron</th>
                    <th>Financement</th>
                    <th>Béneficiaire</th>
                    <th>Rapport</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aide au Femme pour l'eau</td>
                    <td>Don</td>
                    <td>Banque Islamique</td>
                    <td>Association de Maçon</td>
                    <td>{{500.000 | currency}}</td>
                    <td>Village Kpalimé</td>
                    <td><a href="pl">Voir Rapport</a></td>
                </tr>
                <tr>
                  <td>Aide au Femme pour l'eau</td>
                  <td>Don</td>
                  <td>Banque Islamique</td>
                  <td>Association de Maçon</td>
                  <td>{{500.000 | currency}}</td>
                  <td>Village Kpalimé</td>
                  <td><a href="pl">Voir Rapport</a></td>
              </tr>
              <tr>
                <td>Aide au Femme pour l'eau</td>
                <td>Don</td>
                <td>Banque Islamique</td>
                <td>Association de Maçon</td>
                <td>{{500.000 | currency}}</td>
                <td>Village Kpalimé</td>
                <td><a href="pl">Voir Rapport</a></td>
            </tr>
            <tr>
              <td>Aide au Femme pour l'eau</td>
              <td>Don</td>
              <td>Banque Islamique</td>
              <td>Association de Maçon</td>
              <td>{{500.000 | currency}}</td>
              <td>Village Kpalimé</td>
              <td><a href="pl">Voir Rapport</a></td>
          </tr>
          <tr>
            <td>Aide au Femme pour l'eau</td>
            <td>Don</td>
            <td>Banque Islamique</td>
            <td>Association de Maçon</td>
            <td>{{500.000 | currency}}</td>
            <td>Village Kpalimé</td>
            <td><a href="pl">Voir Rapport</a></td>
        </tr>
        <tr>
          <td>Aide au Femme pour l'eau</td>
          <td>Don</td>
          <td>Banque Islamique</td>
          <td>Association de Maçon</td>
          <td>{{500.000 | currency}}</td>
          <td>Village Kpalimé</td>
          <td><a href="pl">Voir Rapport</a></td>
      </tr>
      <tr>
        <td>Aide au Femme pour l'eau</td>
        <td>Don</td>
        <td>Banque Islamique</td>
        <td>Association de Maçon</td>
        <td>{{500.000 | currency}}</td>
        <td>Village Kpalimé</td>
        <td><a href="pl">Voir Rapport</a></td>
    </tr>
    <tr>
      <td>Aide au Femme pour l'eau</td>
      <td>Don</td>
      <td>Banque Islamique</td>
      <td>Association de Maçon</td>
      <td>{{500.000 | currency}}</td>
      <td>Village Kpalimé</td>
      <td><a href="pl">Voir Rapport</a></td>
  </tr>
  <tr>
    <td>Aide au Femme pour l'eau</td>
    <td>Don</td>
    <td>Banque Islamique</td>
    <td>Association de Maçon</td>
    <td>{{500.000 | currency}}</td>
    <td>Village Kpalimé</td>
    <td><a href="pl">Voir Rapport</a></td>
</tr>
        <tr>
          <td>Aide au Femme pour l'eau</td>
          <td>Don</td>
          <td>Banque Islamique</td>
          <td>Association de Maçon</td>
          <td>{{500.000 | currency}}</td>
          <td>Village Kpalimé</td>
          <td><a href="pl">Voir Rapport</a></td>
        </tr>
        <tr>
          <td>Aide au Femme pour l'eau</td>
          <td>Don</td>
          <td>Banque Islamique</td>
          <td>Association de Maçon</td>
          <td>{{500.000 | currency}}</td>
          <td>Village Kpalimé</td>
          <td><a href="pl">Voir Rapport</a></td>
        </tr>
        <tr>
          <td>Aide au Femme pour l'eau</td>
          <td>Don</td>
          <td>Banque Islamique</td>
          <td>Association de Maçon</td>
          <td>{{500.000 | currency}}</td>
          <td>Village Kpalimé</td>
          <td><a href="pl">Voir Rapport</a></td>
        </tr>
        <tr>
          <td>Aide au Femme pour l'eau</td>
          <td>Don</td>
          <td>Banque Islamique</td>
          <td>Association de Maçon</td>
          <td>{{500.000 | currency}}</td>
          <td>Village Kpalimé</td>
          <td><a href="pl">Voir Rapport</a></td>
        </tr>
        <tr>
          <td>Aide au Femme pour l'eau</td>
          <td>Don</td>
          <td>Banque Islamique</td>
          <td>Association de Maçon</td>
          <td>{{500.000 | currency}}</td>
          <td>Village Kpalimé</td>
          <td><a href="pl">Voir Rapport</a></td>
        </tr>
        <tr>
          <td>Aide au Femme pour l'eau</td>
          <td>Don</td>
          <td>Banque Islamique</td>
          <td>Association de Maçon</td>
          <td>{{500.000 | currency}}</td>
          <td>Village Kpalimé</td>
          <td><a href="pl">Voir Rapport</a></td>
        </tr>
        <tr>
          <td>Aide au Femme pour l'eau</td>
          <td>Don</td>
          <td>Banque Islamique</td>
          <td>Association de Maçon</td>
          <td>{{500.000 | currency}}</td>
          <td>Village Kpalimé</td>
          <td><a href="pl">Voir Rapport</a></td>
        </tr>
            </tbody>
        </table>
        </div>
        </div>
      </div>
    </div>
  </div><!-- End Row-->

<!--start overlay-->
  <div class="overlay toggle-menu"></div>
<!--end overlay-->
</div>
