<div class="container-fluid">
  <!-- Breadcrumb-->
 <div class="row pt-2 pb-2">
    <!-- <div class="col-sm-9">
        <h3 class="page-title">Projets</h3>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javaScript:void();">Bulona</a></li>
        <li class="breadcrumb-item"><a href="javaScript:void();">Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">Simple Tables</li>
     </ol>
   </div>

   <div class="col-sm-3">
    <button type="button" class="btn btn-light waves-effect waves-light float-sm-right"><i class="zmdi zmdi-pin-assistant"></i>&emsp; Nouveau Projet</button>
   </div> -->

   <div class="col-lg-12">
    <div class="card">

      <div class="card-body">

        <div style="margin: 1em" class="row">
          <!-- <h5 class="card-title">Liste des Projets</h5> -->
          <div class="col-sm-3">
            <h3 style="margin-left: 1em; margin-top: 5px;" class="page-title">Rapports</h3>
          </div>

          <div class="col-sm-6">
            <form style="margin-bottom: 1em;" class="search-bar">
              <input type="text" class="form-control" placeholder="Enter keywords">
            </form>

          </div>

          <div class="col-sm-3">
            <div class="float-sm-right">
              <button style="visibility: hidden;" type="button" id="open_update_modal" class="btn btn-light waves-effect waves-light" data-toggle="modal" data-target="#updatemodal"></button>
              <button type="button" class="btn btn-light waves-effect waves-light" data-toggle="modal" data-target="#formemodal"><i class="zmdi zmdi-local-library"></i>&emsp; Nouveau Rapport</button>
            </div>

          </div>
        </div>

        <!-- <form style="margin-bottom: 1em;" class="search-bar">
          <input type="text" class="form-control" placeholder="Enter keywords">
        </form> -->

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Projet</th>
                <th scope="col">Valider</th>
                <th scope="col">Envoyer</th>
                <th scope="col">Fichiers</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rapport of allRapport">
                <td>{{rapport.projet.nom}}</td>
                <td>
                  <span *ngIf="rapport.valid == 0" class="badge badge-danger badge-pill">Non
                    <!-- <i class="zmdi zmdi-close"></i> -->
                  </span>
                  <span *ngIf="rapport.valid == 1" class="badge badge-success badge-pill">Oui
                     <!-- <i class="icon-check icons"></i> -->
                    </span>
                </td>
                <td>
                  <span *ngIf="rapport.envoyer == 0" class="badge badge-danger badge-pill">Non
                    <!-- <i class="zmdi zmdi-close"></i> -->
                  </span>
                  <span *ngIf="rapport.envoyer == 1" class="badge badge-success badge-pill">Oui
                     <!-- <i class="icon-check icons"></i> -->
                    </span>
                  </td>
                <td>{{rapport.files.audios.length + rapport.files.images.length + rapport.files.docs.length + rapport.files.videos.length}}</td>
                <td class="row" style="display: block;">
                  <div class="preview" style="padding: 0;">
                    <a [routerLink]="['/rapport/', rapport.key]" title="Voir">
                      <i class="icon-eye icons"></i>
                    </a>
                    <a (click)="deleterapport(rapport.key)" title="Supprimer">
                      <i class="icon-trash icons"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="9" class="text-center">
                  <div *ngIf="_loader" class="spinner-border spinner-border-sm text-secondary mr-2" role="status" style="width: 2rem; height: 2rem;">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <p *ngIf="allRapport.length == 0 && !_loader">Aucun Projets !</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
   </div>

   <div>
     <!-- <mat-paginator class="float-sm-right;" [pageSizeOptions]="[5, 10, 20]" [lenght]="9" showFirstLastButtons></mat-paginator> -->
   </div>


 </div>

<!--start overlay-->
      <div class="overlay toggle-menu"></div>
    <!--end overlay-->
</div>


<!-- Modal -->
<div style="margin-top: 5em;" class="modal fade" id="formemodal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Ajouter un Rapport</h3>
            <button id="close_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="rapportForm">
                 <div class="form-group">
                   <label for="input-1">Projet</label>
                   <select formControlName="projet" class="form-control">
                     <option *ngFor="let project of allProjects" value="{{project.key}}">{{project.nom}}</option>
                   </select>
                 </div>
                 <div class="form-group">
                  <label for="input-1">Description</label>
                  <textarea formControlName="desc" type="text" class="form-control" id="input-1" placeholder="Description du Rapport"></textarea>
                </div>
                <div class="form-group">
                  <label for="input-1">Fichiers</label>
                  <input formControlName="files" type="file" multiple (change)="upload($event)" class="form-control" id="input-1" placeholder="Entrer le Code">
                </div>
                 <div class="form-group">
                  <button style="float: right;" (click)="adddRapprt()" type="submit" class="btn btn-primary px-5">
                    Sauvegarder
                    <div *ngIf="addloader" class="spinner-border spinner-border-sm text-white mr-2" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
                  
                </div>
            </form>
          </div>
      </div>
  </div>
</div>


